<hr class="featurette-divider">

<div class="row featurette">
	<div class="col-md-7">
		<h1 id="personalInformation" class="featurette-heading">
			{{name}}
		</h1>
		<h2>
		Personal Information
		</h2>
		<p>
			Address: {{address}}
			<br />
			Email: {{email}}
			<br />
			LinkedIn: {{linkedIn}}
			<br />
			Github: {{github}}
		</p>
		<h2>Personal Statement</h2>
		<p>{{personalStatement}}</p>
	</div>
	<div class="col-md-5">
		<img class="featurette-image img-fluid mx-auto"
			src="/assets/images/linkedInProfiler.jpg" alt="Generic placeholder image">
	</div>
</div>
