language: python 

python:
  - "3.6"
  
install:
  - pip install ScrapperApp/
  - pip install -r ScrapperApp/requirements.txt

script:
  - coverage run ScrapperApp/manage.py test
  - coveralls --rcfile=.coveragerc
