<hr class="featurette-divider">

<div class="row featurette">
	<div class="col-md-7">
		<h1 id="education" class="featurette-heading">
			Education
		</h1>
		<h2>{{educationTitle}} {{educationDates}}</h2>
		<h3>{{educationLocation}}</h3>
		<h4>Project:</h4>
		<p>{{projectTitle}}<br />{{projectBackground}}</p>
		<a href="{{projectGithubUrl}}"  target="_blank">Project Github</a>
		<h4>Achievements:</h4>
		<ul>
			<li>{{educationAchievement1}}</li>
			<li>{{educationAchievement2}}</li>
			<li>{{educationAchievement3}}</li>
		</ul>
		<a href="{{educationProjectUrl}}" target="_blank">Escratch Card Game</a>
		<h4>Skills:</h4>
		<p>{{educationSkills}}</p>
	</div>
	<div class="col-md-5">
		<img class="featurette-image img-fluid mx-auto"
			src="/assets/images/carlowIT_logo.jpg" alt="Generic placeholder image">
	</div>
</div>






