<hr class="featurette-divider">

<div class="row featurette">
	<div class="col-md-7">
		<h1 id="workExperience" class="featurette-heading">Work Experience</h1>
		<h2>{{fullTimeTitle}} {{fullTimeDates}}</h2>
		<h3>{{fullTimeLocation}}</h3>
		<h4>Role:</h4>
		<p>{{fullTimeRole}}</p>
		<h4>Project:</h4>
		<p>{{fullTimeProject}}</p>
		<h4>Achievements:</h4>
		<ul>
			<li>{{fullTimeAchievement1}}</li>
			<li>{{fullTimeAchievement2}}</li>
			<li>{{fullTimeAchievement3}}</li>
			<li>{{fullTimeAchievement4}}</li>
			<li>{{fullTimeAchievement5}}</li>
		</ul>
		<h4>Skills:</h4>
		<p>{{fullTimeSkills}}</p>
	</div>
	<div class="col-md-5">
		<img class="featurette-image img-fluid mx-auto"
			src="/assets/images/ibm_security_logo.png"
			alt="Generic placeholder image">
	</div>
	<hr class="featurette-divider">
	<div class="col-md-7">

		<h2>{{graduateTitle}} {{graduateDates}}</h2>
		<h3>{{graduateLocation}}</h3>
		<h4>Role:</h4>
		<p>{{graduateRole}}</p>
		<h4>Project:</h4>
		<p>{{graduateProject}}</p>
		<h4>Achievements:</h4>
		<ul>
			<li>{{graduateAchievement1}}</li>
			<li>{{graduateAchievement2}}</li>
			<li>{{graduateAchievement3}}</li>
		</ul>
		<h4>Skills:</h4>
		<p>{{graduateSkills}}</p>
	</div>
	<div class="col-md-5">
		<img class="featurette-image img-fluid mx-auto"
			src="/assets/images/ibm_logo.png" alt="Generic placeholder image">
	</div>
</div>